dist: jammy

language: node_js
node_js:
  - lts/*

branches:
  only:
    - main

cache:
  yarn: true
  directories:
    - node_modules

before_script:
  - npm install -g yarn@latest

script:
  - yarn
  - yarn test
  - yarn build
  - yarn build-storybook-public

jobs:
  include:
    # Define the release stage that runs semantic-release
    - name: "Publish to npm"
      node_js: lts/*
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release

    - name: "Deploy Storybook to GH Pages"
      deploy:
        provider: pages
        skip_cleanup: true
        github-token: $GITHUB_TOKEN
        local_dir: storybook-static
        target_branch: gh-pages
